server/__pycache__/
server/integrations/__pycache__/*
server/files_tts/*
server/files_stt/*
server/*.http

*.todo
*.rdb

# Logs
clients/chat/logs
clients/chat/*.log
clients/chat/yarn-debug.log*
clients/chat/yarn-error.log*

clients/chat/node_modules
clients/chat/dist
clients/chat/dist-ssr
clients/chat/*.local

clients/*/web-ext-artifacts

# Editor directories and files
clients/.vscode/*
clients/!.vscode/extensions.json
clients/.idea
clients/.DS_Store
clients/*.suo
clients/*.ntvs*
clients/*.njsproj
clients/*.sln
clients/*.sw?

SANDBOX.md
