server/__pycache__
server/files_tts/*
server/files_stt/*
server/*.http

*.todo
*.rdb

# Logs
clients/chat-test/logs
clients/chat-test/*.log
clients/chat-test/yarn-debug.log*
clients/chat-test/yarn-error.log*

clients/chat-test/node_modules
clients/chat-test/dist
clients/chat-test/dist-ssr
clients/chat-test/*.local

# Editor directories and files
clients/.vscode/*
clients/!.vscode/extensions.json
clients/.idea
clients/.DS_Store
clients/*.suo
clients/*.ntvs*
clients/*.njsproj
clients/*.sln
clients/*.sw?
