.speech-to-text {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bar {
  margin: 12px;
  width: 100%;
}

audio {
  width: 100%;
}

.btn {
  background-color: #1e1e2e;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 40px;
  font-size: 1em;
  margin: 12px;
  padding: 0.5em;
}

.record-button {
  color: whitesmoke;
  width: 100%;
}

.recording {
  background-color: #4f0101;
}
